/*Variables*/

$color-yellow: #fed136;
$color-dark: #222222;
$color-light-gray: #f7f7f7;
$color-light: #fff;

$font-header: 'Montserrat', sans-serif;
$font-text: 'Roboto Slab', serif;
$font-italic: 'Merriweather', serif;
